
div.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

div.notification {
    text-align: center;
    font-size: 1.5rem;
    border: solid 5px rgb(180, 24, 24);
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

h1 {
    margin: 40px;
    font-size: 5vw;
    font-style: oblique;
    font-weight: bold;
}
